@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?eaxqmo');
    src:  url('fonts/icomoon.eot?eaxqmo#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?eaxqmo') format('truetype'),
        url('fonts/icomoon.woff?eaxqmo') format('woff'),
        url('fonts/icomoon.svg?eaxqmo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-undo:before {
    content: "\e965";
}
.icon-redo:before {
    content: "\e966";
}
.icon-plus:before {
    content: "\ea0a";
}
.icon-minus:before {
    content: "\ea0b";
}
.icon-volume-medium:before {
    content: "\ea27";
}
.icon-arrow-right2:before {
    content: "\ea3c";
}
.icon-arrow-left2:before {
    content: "\ea40";
}


#myTab {
    table-layout:fixed;
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}
.myBlock {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 100%;
}
#leftMenu a {
    display: block;
    /*width: 100%;*/
    color: blue;
    padding: 3px;
    text-decoration: none;
    float: left;
}

.aPage {
    width: 40px;
}
.aAudio {
    width: 15px;
}

#leftMenu a:hover {
    background-color: blue;
    color: orange;
}

.menuActiv {
    background-color: blue;
    color: orange !important;
}

#imgPage {
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    height: auto;
}

#topBlock a {
    display: block;
    background-color: orange;
    color: blue;
    text-decoration: none;
    text-align: center;
    padding: 2px;
}
#topBlock a:hover {
    background-color: blue;
    color: orange;
}